.radio {
  display: none;
  & + label {
    position: relative;
    display: inline-block;
    padding: 3px 0 3px 29px;
    font-size: 14px;
    font-weight: 300;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 4px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #777980;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    &::after {
      content: attr(title);
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 6px;
      width: 14px;
      height: 14px;
      border: 3px solid #F7F9F9;
      border-radius: 50%;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  &:checked + label {
    color: #e73828;
  }
  &:checked + label:before {
    border: 2px solid #e73828;
  }
  &:checked + label:after {
    background: #e73828;
  }
}